{% extends 'base.html' %}

{% block content %}
  <hr class="featurette-divider">

  <div class="container">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
  </div>

  <hr class="featurette-divider">
{% endblock %}
