{% extends 'base.html' %}

{% block content %}

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tiy2LONr050?autoplay=1&loop=1&playlist=Tiy2LONr050&mute=1"></iframe>
  </div>

  <hr class="featurette-divider">

  <div class="container topics">

    <div>
      <h1>Professors from top business schools offer 1:1 soft skills training on various topics! Exclusively available at TalkMeUp!</h1>
      <p><a class="btn btn-primary" href="{% url 'coach:index' %}" role="button">See our coaches</a></p>
    </div>

    <hr>
    
    <div class="topic">
      <h2>Lead with wisdom and charm</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>
    
    <hr>

    <div class="topic">
      <h2>Rock the stage</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>
    
    <hr>
    
    <div>
      <h2>Charm my date</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>
    
    <hr>

    <div>
      <h2>Break ice, easy peasy</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>
    
    <hr>

    <div>
      <h2>Bridge the cultural gap for me</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>
    
    <hr>
    
    <div>
      <h2>Ace the job interviews</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>

    <hr>
    
    <div>
      <h2>Impress others with self intro</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>        

    <hr>

    <div>
      <h2>Elevator pitch</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>

    <hr>
    
    <div>
      <h2>Win the negotiations</h2>
      <p><a class="btn btn-primary" href="#" role="button">Express Interest</a></p>
    </div>

  </div><!-- /.container -->

  <hr class="featurette-divider">
{% endblock %}
