{% extends "base.html" %}

{% block content %}

      <hr class="featurette-divider">

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div id="myCoaches" class="container marketing">

        <div class="row">

          {% if coach_list %}
            {% for coach in coach_list %}

              <div class="col-lg-4">
                <img class="rounded-circle" src="{{ coach.avatar.url }}" width="140" height="140">
                <h2>{{ coach.name }}</h2>
                <p>{{ coach.title }}</p>
                <p>{{ coach.affiliation }}</p>
                <p><a class="btn btn-primary" href="{% url 'coach:detail' coach.id %}" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->

            {% endfor %}
         {% else %}
            <p>No coaches are available.</p>
         {% endif %}

        </div><!-- /.row -->

      </div><!-- /.container -->

      <hr class="featurette-divider">

{% endblock %}
