{% extends "base.html" %}

{% block content %}

<hr class="featurette-divider">

<div class="container">
  <div class="row">
    <div class="col-sm-3">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<p></p>
<input type="submit" class="btn btn-primary btn-block" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

<p><a class="btn btn-primary btn-block" href="{% url 'social:begin' 'facebook' %}" role="button"><i class="fa fa-facebook-official"></i> Login with Facebook</a></p>
<p><a class="btn btn-primary btn-block" href="{% url 'social:begin' 'twitter' %}" role="button"><i class="fa fa-twitter-square"></i> Login with Twitter</a></p>
    </div>
    <div class="col-sm-9"></div>
  </div>
</div>

<hr class="featurette-divider">

{% endblock %}
